@font-face {
    font-family: "WeblySleek";
    src:url("font/WeblySleekNormal.eot");
    src:url("font/WeblySleekNormal.woff2") format("woff2"),
        url("font/WeblySleekNormal.woff") format("woff"),
        url("font/WeblySleekNormal.ttf") format("truetype"),
        url("font/WeblySleekNormal.otf") format("opentype"),
        url("font/WeblySleekNormal.eot?#iefix") format("embedded-opentype"),
        url("font/WeblySleekNormal.svg") format("svg");
    font-display: swap;
}
@font-face {
    font-family: "Library";
    src:url("font/Library3am.eot");
    src:url("font/Library3am.woff2") format("woff2"),
        url("font/Library3am.woff") format("woff"),
        url("font/Library3am.ttf") format("truetype"),
        url("font/Library3am.otf") format("opentype"),
        url("font/Library3am.eot?#iefix") format("embedded-opentype"),
        url("font/Library3am.svg") format("svg");
    font-display: swap;
}

html, body{
	margin:0;
    padding:0;
    font-family: "WeblySleek";
    color: #ffffc8;
}

body{
    height:100vh;
    overflow: hidden;
    background-color: #000;
}

#c {
	width:100%;
	height:100%;
	display: block;
	position: fixed;
	margin:0;
	padding:0;
	left:0;
    top:0;
    z-index: 2;
    opacity: 0;
}

.logo{
    position: fixed;
    top: 25px;
    left: 30px;
    margin: 0;
    padding: 5px 10px;
    z-index: 5;
    font-family: "Library";
    font-size: 2em;
    cursor: default;
    color: #ffffc8;
    opacity: 0;
}

.menu_btn1{
    position: absolute;
    top: 40px;
    right: 40px;
    height: 20px;
    width: 20px;
    background-color: #ffffc8;
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.menu_btn2{
    position: fixed;
    top: 60px;
    right: 40px;
    height: 20px;
    width: 20px;
    background-color: #000;
    border-radius: 50%;
    z-index: 5;
    opacity: 0;
}

.menu_txt1{
    position: fixed;
    margin: 0;
    top: 38px;
    right: 70px;
    color: #ffffc8;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.menu_txt2{
    position: fixed;
    margin: 0;
    top: 60px;
    right: 70px;
    z-index: 5;
    cursor: pointer;
    color: #000;
    opacity: 0;
    display: none;
}

.nb{
    width: 30%;
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    margin: 0;
    cursor: default;
    color: #000;
}
.text_elem{
    width: 70%;
    font-size: 2em;
    margin: 0;
    display: flex;
    align-items: center;
    color: #000;
}
.menu_wrapper a{
    text-decoration: none;
    color: #000;
    padding-left: 5vw;
    padding-right: 5vw;
}

.colab_badge{
    width: 7rem; /*tester*/
    transform: translate(-3vw);
}

.cont{
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 23vh;
    left: 5vw;
    width: 35vw;
    height: 70vh;
    opacity: 0;
}

.headband{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#categorie{
    font-size: 2em;
    text-decoration: none;
    margin: 0;
    letter-spacing: 0.3em;
}
.headband span{
    background-color: #ffffc8;
    height: 1px;
    width: 100%;
}
#text{
    font-size: 1.1em;
}

.project_elem{
    margin-bottom: 8%;
}
.project_elem a{
    color: #ffffc8;
}
.project_elem p{
    margin: 0;
}

@media (max-device-width: 1149px){
    .cont{
        top: 10vh;
        left: 15vw;
        width: 70vw;
        height: 80vh;
    }
}
@media (min-device-width: 1150px) and (min-device-height: 850px){
    .cont{
        top: 15vh;
        left: 5vw;
        width: 35vw;
        height: 70vh;
    }
}


@media (max-device-width: 600px){
    .menu_wrapper{
        display: none;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 15vh;
        width: 100vw;
        height: 50vh;
        z-index: 100;
        opacity: 0;
    }
    .menu_elem{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        height: 15%;
    }
    .project_wrapper{
        height: 50vh;
        left: 0;
    }
    
}

@media (min-device-width: 601px){
    .menu_wrapper{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 18vh;
        width: 100vw;
        height: 64vh;
        z-index: 100;
        opacity: 0;
        
    }
    .menu_elem{
        display: flex;
        flex-direction: row;
        width: 50%;
        height: 16.6%;
        transition: 0.5s ease-out;
    }
    .nb::after{
        content: '';
        position: relative;
        display: block;
        background-color: #000;
        top: -13%;
        left: 45%;
        height: 1px;
        width: 0%;
        transform-origin: left;
        transition: 0.5s ease-out;
    }

    .menu_elem:hover > .nb::after{
        width: 60%;
    }
    
    .text_elem strong{
        padding-left: 5vw;
        padding-right: 5vw;
        font-weight: normal;
        cursor: pointer;
    }

    .active{
        transform: translateX(30px);
    }
    .active .nb::after{
        width: 60%;
    }
}